<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="en lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="en lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="en lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="en"> <!--<![endif]-->

<%= render 'partials/html-head' %>

<body>

<%= render 'partials/html-chromeframe' %>

<header id="header-wrp" class="row">
  <%= render 'partials/header' %>
</header>

<div id="main-wrp" class="row">
  <%= yield %>
</div>

<footer id="footer-wrp">
  <%= render 'partials/footer' %>
</footer>

</body>

</html>
